# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# macOS 11.0 Time Machine
.com.apple.timemachine.donotpresent

# macOS 12.0 Time Machine
.com.apple.TimeMachine.*.base

# macOS 12.0 Time Machine
.com.apple.TimeMachine.*.inprogress